/* General Styles */
html, body {
    height: 100%;
    /* background-color: white; */
    background-color: #F8F8FF;
    /* background-color: #F9FEFF; */
    /* background-color: #F2F0EF; */
    /* background-color: #FEFCF5; */
    /* background-color: #F5F5F4;  */
    /* background-color: #FFFAF0; */
}

body {
    font-family: 'Hind', 'EB Garamond', 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
}

/* Typography */
h1 {
    font-family: 'Verdana', 'Public Sans', 'Roboto', 'Palatino', sans-serif;
    font-size: 38.5px;
}

h2, h3, h4 {
    font-family: 'Roboto', 'Public Sans', 'Verdana', 'Palatino', sans-serif;
    font-size: 30.5px;
}

p, li {
    color: #454545;
    font-size: 18.5px;
}

/* Content Wrapper */
.content-wrapper {
    flex: 1 0 auto;
}

/* Left and Right Columns */
.left-column {
    flex: 0 0 35%;
    max-width: 35%;
    text-align: center;
}

.right-column {
    flex: 0 0 65%;
    max-width: 65%;
}

.d-flex {
    display: flex;
}

/* Profile Image */
.profile-image {
    width: 265px;
    height: auto;
}

/* Profile and Contact Info */
.profile-info, .contact-info {
    font-size: 16.5px;
}

.profile-info i, .contact-info i {
    margin-right: 7.5px;
}

.profile-info div, .contact-info div {
    display: flex;
    align-items: center;
    margin-top: 4px;
    /* margin-bottom: 5px; */
}

/* Social Icons */
.socialicon {
    width: 48px;
    margin: 10px;
    margin-top: 25px;
    transition: opacity 0.2s;
}

.socialicon:hover {
    opacity: 0.8;
}

/* Name Divider */
.name-divider {
    border: 0;
    height: 0.5px;
    background-color: #dee2e6;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

/* Horizontal Rule */
hr {
    border: 1px solid #000;
    border-radius: 0.5px;
}

/* Footer */
.footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #F8F8FF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer .row {
    align-items: center;
}

.footer .col-left {
    text-align: left;
}

.footer .col-right {
    text-align: right;
}

/* Links */
a {
    text-decoration: underline;
}

.image-link {
    text-decoration: none !important;
}

/* Abstract Toggle */
.abstract {
    display: none;
}

.d-none {
    display: none;
}
