/* Default Preset (Primary) */
:root {
    --background-color: #FFFFFF;
    --font-color: #0d0301;
    
    /* Font Colors */
    --font-color-h1: #080808;       /* Color for h1 */
    --font-color-h2: #080808;       /* Color for h2, h3, h4 */
    --font-color-footer: #666666;   /* Color for footer */
    
    /* Font Sizes */
    --font-size-h1: 43px;           /* Font size for h1 */
    --font-size-h2: 34px;         /* Font size for h2, h3, h4 */
    --font-size-footer: 16px;       /* Font size for footer */
    
    /* Font Families */
    --font-family-base: Garamond, 'Times New Roman', serif;
    --font-family-heading: Garamond, 'Roboto', 'Palatino', sans-serif;
    
    /* Border Colors */
    --border-color: #85200c;
    --hr-border-color: #450209;
}

/* Preset 2 */
.preset-2 {
    --background-color: #F8F8FF;
    --font-color: #454545;
    
    /* Font Colors */
    --font-color-h1: #1a1a1a;
    --font-color-h2: #2b2b2b;
    --font-color-footer: #3c3c3c;
    
    /* Font Sizes */
    --font-size-h1: 43px;           /* Adjust if needed */
    --font-size-h2: 30.5px;         /* Adjust if needed */
    --font-size-footer: 16px;       /* Adjust if needed */
    
    /* Font Families */
    --font-family-base: 'Hind', 'EB Garamond', 'Times New Roman', serif;
    --font-family-heading: 'Verdana', 'Public Sans', 'Roboto', 'Palatino', sans-serif;
    
    /* Border Colors */
    --border-color: #dee2e6;
    --hr-border-color: #000;
}

/* Preset 3 */
.preset-3 {
    --background-color: #FEFCF5;
    --font-color: #000000;
    
    /* Font Colors */
    --font-color-h1: #111111;
    --font-color-h2: #222222;
    --font-color-footer: #333333;
    
    /* Font Sizes */
    --font-size-h1: 43px;           /* Adjust if needed */
    --font-size-h2: 30.5px;         /* Adjust if needed */
    --font-size-footer: 16px;       /* Adjust if needed */
    
    /* Font Families */
    --font-family-base: 'Courier New', Courier, monospace;
    --font-family-heading: 'Tahoma', 'Geneva', sans-serif;
    
    /* Border Colors */
    --border-color: #999999;
    --hr-border-color: #000;
}

/* Preset 4 */
.preset-4 {
    --background-color: #F2F0EF;
    --font-color: #222222;
    
    /* Font Colors */
    --font-color-h1: #444444;
    --font-color-h2: #555555;
    --font-color-footer: #666666;
    
    /* Font Sizes */
    --font-size-h1: 43px;           /* Adjust if needed */
    --font-size-h2: 30.5px;         /* Adjust if needed */
    --font-size-footer: 16px;       /* Adjust if needed */
    
    /* Font Families */
    --font-family-base: 'Lucida Console', 'Courier New', monospace;
    --font-family-heading: 'Impact', 'Arial Black', sans-serif;
    
    /* Border Colors */
    --border-color: #bbbbbb;
    --hr-border-color: #000;
}

/* General Styles */
html, body {
    height: 100%;
    background-color: var(--background-color);
}

body {
    font-family: var(--font-family-base);
    display: flex;
    flex-direction: column;
}

/* Typography */
h1 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-h1);
    font-weight: 650;
    letter-spacing: 0.2em;
    color: var(--font-color-h1);
}

h2, h3, h4 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-h2);
    color: var(--font-color-h2);
}

p, li {
    color: var(--font-color);
    font-size: 18.5px;
}

/* Content Wrapper */
.content-wrapper {
    flex: 1 0 auto;
}

/* Left and Right Columns */
.left-column {
    flex: 0 0 35%;
    max-width: 35%;
    text-align: center;
}

.right-column {
    flex: 0 0 65%;
    max-width: 65%;
}

.d-flex {
    display: flex;
}

/* Profile Image */
.profile-image {
    margin-top: 10px;
    width: 250px;
    height: auto;
}

/* Profile and Contact Info */
.profile-info, .contact-info {
    font-size: 17px;
}

.profile-info i, .contact-info i {
    margin-right: 10px;
}

.profile-info div, .contact-info div {
    display: flex;
    align-items: center;
    margin-top: 4px;
    /* margin-bottom: 5px; */
}

/* Social Icons */
.socialicon {
    width: 47px;
    margin: 8px;
    margin-top: 60px;
    transition: opacity 0.2s;
}

.socialicon:hover {
    opacity: 0.6;
}

/* Name Divider */
.name-divider {
    border: 0;
    height: 0.5px;
    background-color: var(--border-color);
    margin-top: 0rem;
    margin-bottom: 1.7rem;
}

/* Horizontal Rule */
hr {
    border: 1px solid var(--hr-border-color);
    border-radius: 0.5px;
}

/* Footer */
.footer {
    flex-shrink: 0;
    width: 100%;
    background-color: var(--background-color);
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--font-color-footer);
    font-size: var(--font-size-footer); /* Added font size for footer */
}

.footer .row {
    align-items: center;
}

.footer .col-left {
    text-align: left;
}

.footer .col-right {
    text-align: right;
}

.image-link {
    text-decoration: none !important;
}

/* Abstract Toggle */
.abstract {
    display: none;
}

.d-none {
    display: none;
}

/* Small Caps */
.small-caps {
    font-size: 79%; /* Adjust the percentage as needed */
    text-transform: uppercase;
}

/* Medium Caps */
.med-caps {
    font-size: 93.5%; /* Adjust the percentage as needed */
    text-transform: uppercase;
}

/* Custom List Style for Publications and Projects */
.custom-list {
    list-style: none; /* Remove default bullets */
    margin: 0;
    padding: 0;
}

.custom-list li {
    position: relative;    /* Create a positioning context */
    margin-bottom: 0.5em;  /* Space between list items */
    padding-left: 2em;   /* Adjust left padding to match standard bullet indent */
}

/* Use ::before pseudo-element to insert the arrow */
.custom-list li::before {
    content: "➣";          /* Insert the arrow icon */
    position: absolute;    /* Position it absolutely within the li */
    left: 12.5px;               /* Align it to the left */
    top: 0;                /* Align with the first line of text */
    color: var(--font-color); /* Optional: Set the color to match your theme */
}


